# Working with data
## Data aggregation using Pandas

***
<br>

## Using pandas functions to summarise data in a DataFrame

* For variables which contain numerical values we are often interested in various statistical measures relating to those values. 
* For categorical variable we are often interested in how many of each unique values are present in the dataset.


* For numeric variables we can obtain a variety of basic statistical information by using the `describe()` method.
* You can also `.describe()` on a single variable basis.

In [1]:
import pandas as pd

df_countries = pd.read_csv("data/countries.csv")
df_countries['Population'] /= 1000000

In [2]:
df_countries.describe()

,Population,Area sq. mi.,Pop. Density sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP,Literacy,Phones per 1000,Climate,Agriculture,Industry,Service
count,227.000000,2.270000e+02,227.000000,227.000000,224.000000,224.000000,226.000000,209.000000,223.000000,205.000000,212.000000,211.000000,212.000000
mean,28.740284,5.982270e+05,379.047137,21.165330,0.038125,35.506964,9689.823009,82.838278,236.061435,2.139024,0.150844,0.282711,0.565283
std,117.891327,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,10049.138513,19.722173,227.991829,0.699397,0.146798,0.138272,0.165841
min,0.007026,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,500.000000,17.600000,0.200000,1.000000,0.000000,0.020000,0.062000
25%,0.437624,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,1900.000000,70.600000,37.800000,2.000000,0.037750,0.193000,0.429250
50%,4.786994,8.660000e+04,78.800000,0.730000,0.000000,21.000000,5550.000000,92.500000,176.200000,2.000000,0.099000,0.272000,0.571000
75%,17.497772,4.418110e+05,190.150000,10.345000,0.997500,55.705000,15700.000000,98.000000,389.650000,3.000000,0.221000,0.341000,0.678500
max,1313.973713,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,55100.000000,100.000000,1035.600000,4.000000,0.769000,0.906000,0.954000

In [3]:
df_countries["GDP"].describe()

count      226.000000
mean      9689.823009
std      10049.138513
min        500.000000
25%       1900.000000
50%       5550.000000
75%      15700.000000
max      55100.000000
Name: GDP, dtype: float64

* There are also a set of methods which allow us to obtain individual values.

In [4]:
df_countries["GDP"].min()

500.0

In [5]:
df_countries["GDP"].max()

55100.0

In [6]:
df_countries["GDP"].mean()

9689.823008849558

In [7]:
df_countries["GDP"].count()

226

In [8]:
df_countries["GDP"].std()

10049.13851319723

In [9]:
df_countries["GDP"].sum()

2189900.0

* To find out how many individual unique values are in the dataset we can use the `value_counts()` method.

In [10]:
df_countries["Region"].value_counts()

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

## Grouping and aggregations

* The use of grouping allows statistical information to be obtained by object groups.
* We apply grouping using the `groupby()` method on DataFrame.

In [11]:
# average population in countries by region
df_countries.groupby('Region')['Population'].mean()

Region
ASIA (EX. NEAR EAST)                   131.713651
BALTICS                                  2.394991
C.W. OF IND. STATES                     23.340129
EASTERN EUROPE                           9.992893
LATIN AMER. & CARIB                     12.484991
NEAR EAST                               12.191774
NORTHERN AFRICA                         26.901189
NORTHERN AMERICA                        66.334461
OCEANIA                                  1.577698
SUB-SAHARAN AFRICA                      14.694843
WESTERN EUROPE                          14.155000
Name: Population, dtype: float64

In [12]:
# minimum, maximum and total population in countries by region
df_countries.groupby('Region')['Population'].agg([min, max, sum])

                                          min          max          sum
Region
ASIA (EX. NEAR EAST)                 0.359008  1313.973713  3687.982236
BALTICS                              1.324333     3.585906     7.184974
C.W. OF IND. STATES                  2.976372   142.893540   280.081548
EASTERN EUROPE                       2.010347    38.536869   119.914717
LATIN AMER. & CARIB                  0.009439   188.078227   561.824599
NEAR EAST                            0.698585    70.413958   195.068377
NORTHERN AFRICA                      0.273008    78.887007   161.407133
NORTHERN AMERICA                     0.007026   298.444215   331.672307
OCEANIA                              0.011810    20.264082    33.131662
SUB-SAHARAN AFRICA                   0.007502   131.859731   749.437000
WESTERN EUROPE                       0.027928    82.422299   396.339998

## Sorting values in a DataFrame

* To sort the rows in the DataFrame we can use the `sort_values()` method.

In [13]:
# sort DataFrame by Phones per 1000 and show 10 first rows
df_countries.sort_values('Phones per 1000')[:10]

,Country,Region,Population,Area sq. mi.,Pop. Density sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP,Literacy,Phones per 1000,Climate,Agriculture,Industry,Service
45,"Congo, Dem. Rep.",SUB-SAHARAN AFRICA,62.660551,2345410,26.7,0.00,0.00,94.69,700.0,65.5,0.2,2.0,0.550,0.110,0.340
40,Chad,SUB-SAHARAN AFRICA,9.944201,1284000,7.7,0.00,-0.11,93.82,1200.0,47.5,1.3,2.0,0.335,0.259,0.406
151,Niger,SUB-SAHARAN AFRICA,12.525094,1267000,9.9,0.00,-0.67,121.69,800.0,17.6,1.9,1.0,0.390,0.170,0.440
39,Central African Rep.,SUB-SAHARAN AFRICA,4.303356,622984,6.9,0.00,0.00,91.00,1100.0,51.0,2.3,2.0,0.550,0.200,0.250
117,Liberia,SUB-SAHARAN AFRICA,3.042004,111370,27.3,0.52,0.00,128.87,1000.0,57.5,2.3,2.0,0.769,0.054,0.177
34,Cambodia,ASIA (EX. NEAR EAST),13.881427,181040,76.7,0.24,0.00,71.48,1900.0,69.4,2.6,2.0,0.350,0.300,0.350
86,Guinea,SUB-SAHARAN AFRICA,9.690222,245857,39.4,0.13,-3.06,90.37,2100.0,35.9,2.7,2.0,0.237,0.362,0.401
170,Rwanda,SUB-SAHARAN AFRICA,8.648248,26338,328.4,0.00,0.00,91.23,1300.0,70.4,2.7,3.0,0.401,0.229,0.370
0,Afghanistan,ASIA (EX. NEAR EAST),31.056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,1.0,0.380,0.240,0.380
33,Burundi,SUB-SAHARAN AFRICA,8.090068,27830,290.7,0.00,-0.06,69.29,600.0,51.6,3.4,2.0,0.463,0.203,0.334

In [14]:
# sort DataFrame descending by Area sq. mi. and show 5 first rows
df_countries.sort_values('Area sq. mi.', ascending=False)[:5]

,Country,Region,Population,Area sq. mi.,Pop. Density sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP,Literacy,Phones per 1000,Climate,Agriculture,Industry,Service
169,Russia,C.W. OF IND. STATES,142.893540,17075200,8.4,0.22,1.02,15.39,8900.0,99.6,280.6,NaN,0.054,0.371,0.575
36,Canada,NORTHERN AMERICA,33.098932,9984670,3.3,2.02,5.96,4.75,29800.0,97.0,552.2,NaN,0.022,0.294,0.684
214,United States,NORTHERN AMERICA,298.444215,9631420,31.0,0.21,3.41,6.50,37800.0,97.0,898.0,3.0,0.010,0.204,0.787
42,China,ASIA (EX. NEAR EAST),1313.973713,9596960,136.9,0.15,-0.40,24.18,5000.0,90.9,266.7,1.5,0.125,0.473,0.403
27,Brazil,LATIN AMER. & CARIB,188.078227,8511965,22.1,0.09,-0.03,29.61,7600.0,86.4,225.3,2.0,0.084,0.400,0.516

## Dealing with missing values

* Missing values are stored in the DataFrame structure as a special `NaN` value.
* We can find out how many variables in our Dataframe contains any `NaN` values - method `isnull()`.
* The `dropna()` method will delete all rows if any of the variables contain an `NaN`.
* The `fillna()` method replace `NaN` with a value of our choice.

In [15]:
df_countries[df_countries["Net migration"].isnull()]

,Country,Region,Population,Area sq. mi.,Pop. Density sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP,Literacy,Phones per 1000,Climate,Agriculture,Industry,Service
47,Cook Islands,OCEANIA,0.021388,240,89.1,50.00,NaN,NaN,5000.0,95.0,289.9,2.0,0.151,0.096,0.753
221,Wallis and Futuna,OCEANIA,0.016025,274,58.5,47.08,NaN,NaN,3700.0,50.0,118.6,2.0,NaN,NaN,NaN
223,Western Sahara,NORTHERN AFRICA,0.273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.400

In [16]:
df_countries.isnull().sum()

Country                              0
Region                               0
Population                           0
Area sq. mi.                         0
Pop. Density sq. mi.                 0
Coastline coast/area ratio           0
Net migration                        3
Infant mortality per 1000 births     3
GDP                                  1
Literacy                            18
Phones per 1000                      4
Climate                             22
Agriculture                         15
Industry                            16
Service                             15
dtype: int64

In [17]:
df_countries["Phones per 1000"].isnull().sum()

4

In [18]:
print(df_countries.shape)
df_countries.dropna(inplace=True)
print(df_countries.shape)

(227, 15)
(179, 15)

In [19]:
df_countries = pd.read_csv("data/countries.csv")
df_countries["Net migration"].fillna(0, inplace=True)
df_countries.iloc[[47,221,223]]

,Country,Region,Population,Area sq. mi.,Pop. Density sq. mi.,Coastline coast/area ratio,Net migration,Infant mortality per 1000 births,GDP,Literacy,Phones per 1000,Climate,Agriculture,Industry,Service
47,Cook Islands,OCEANIA,21388,240,89.1,50.00,0.0,NaN,5000.0,95.0,289.9,2.0,0.151,0.096,0.753
221,Wallis and Futuna,OCEANIA,16025,274,58.5,47.08,0.0,NaN,3700.0,50.0,118.6,2.0,NaN,NaN,NaN
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.400

## --- Exercise ---

Load the data from the `data\countries.csv` file and display how many countries with an area (Area sq. mi.) over 100000 are in each region.

In [ ]:
# Write your code here