# Introduction to programming in Python
## List, tuples, dictionaries, sets

***
<br>

## Composite data types

* Composite types are data types that are containers holding other data types.
* Elements placed in composite type objects can be values of simple types (e.g. numeric) and other composite type objects.
* Composit types allow elements to be placed in them, elements to be read into them, and also offer more advanced operations for manipulating the contents of complex type objects.

## List

* A container that represents an ordered sequence of elements.

<img src="img/list.png" style="width:300px">

## List properties
    
* **Ordered** - keeps the order of the elements according to the order in which they are placed in the list
* **Modifiable** - we can change the elements of the list
* **Heterogeneous** - may contain elements of different types
* **Duplicate** - may contain repeated elements

## List creation

In [1]:
# the list may contain elements of different data types
list_1 = [3, 4.67, 'abc', 5]

# two ways to create an empty list
empty_list_1 = []
empty_list_2 = list()

# a list element can be a list
list_2 = [1, 2, 3, "Baba Yaga is watching!", list_1]

## Retrieving values from lists

* Lists are indexed, i.e. its elements are accessed using indexes which are consecutive integers (counting from 0).
* We can also index backwards using negative numbers.

<img src="img/list2.png" style="width:400px">

In [2]:
l = ["dog", "cat", 123, 5.67]

l[0]    # -> 'dog'
l[1]    # -> 'cat'
l[-1]   # -> 5.67
l[-3]   # -> 'cat'

'cat'

## List slicing

* Slicing a part of a list.
* `list[begin_index:end_index]`
* `list[start_index:end_index:step]`

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7]

numbers[1:3]   # -> [2, 3]
numbers[2:-2]  # -> [3, 4, 5]
numbers[1:6:2] # -> [2, 4, 6]
numbers[::-1]  # -> [7, 6, 5, 4, 3, 2, 1]

[7, 6, 5, 4, 3, 2, 1]

## Checking if the element is in the list

In [4]:
list1 = ["dog", "cat", 123, 5.67]

"lion" in list1, 123 in list1

(False, True)

## Modifying list contents

* Adding new values: `append`, `insert` operations.
* Inserting values in place of existing values, overwriting elements.
* Deleting values from the list: `del`, `remove`, `clear` operations.

In [5]:
list1 = [1,2,3,4,5,6,7]

# appending the element to the end of the list
list1.append(8)
print(list1)

# insertion of the element in the middle of the list
list1.insert(0, "X")
print(list1)

# replacing the element with the new element
list1[1] = "Y"
print(list1)

# replacing the range of elements with the new element
list1[3:5] = 'N'
print(list1)

# deletion of the element with specific index
del list1[2]
print(list1)

# deletion of the first occurrence of the element with the specified value
list1.remove(5)
print(list1)

# deleting range of elements (sub-lists)
del list1[0:4]
print(list1)

# learing the entire contents of the list
list1.clear()
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]
['X', 1, 2, 3, 4, 5, 6, 7, 8]
['X', 'Y', 2, 3, 4, 5, 6, 7, 8]
['X', 'Y', 2, 'N', 5, 6, 7, 8]
['X', 'Y', 'N', 5, 6, 7, 8]
['X', 'Y', 'N', 6, 7, 8]
[7, 8]
[]

## Other interesting functions and possibilities of the lists

* `sort()` - sorting of elements in a list
* `reverse()` - reversing lists
* `count(value)` - counting the occurrences of a specific value
* `index(value)` - determining the index under which a certain value appears

In [6]:
vegetables = ["Cucumber", "Tomato", "Potato", "Carrot"]

vegetables.sort()
print(vegetables)

# sort in reverse order
vegetables.sort(reverse=True)
print(vegetables)

vegetables.reverse()
print(vegetables)

['Carrot', 'Cucumber', 'Potato', 'Tomato']
['Tomato', 'Potato', 'Cucumber', 'Carrot']
['Carrot', 'Cucumber', 'Potato', 'Tomato']

In [7]:
list1 = [1, 3, 5, 8, 13, 21, 34, 55, 1, 1, 1]

print(list1.count(1))
print(list1.index(21))

4
5

## Tuple

* A container that represents an ordered sequence of elements.

<img src="img/tuple.png" style="width:350px">

## Properties of a tuple

* **Ordered** - keeps the order of the elements according to the order in which they were placed in the tuple when it was created
* **Non-modifiable** - we cannot change the elements of the tuple
* **Heterogeneous** - can contain elements of different types
* **Duplicate** - may contain repeated elements

## Creation of tuples

In [8]:
# two ways to create an empty tuple
empty_tuple_1 = ()
empty_tuple_2 = tuple()

# elements of a tuple can be of different types
tuple1 = ("John", "Matthew", 777, "text", [12.55, "goat"])

## Retrieving values from tuples

* The principles are identical to those for lists.
* We use the same constructs to retrieve elements: indexing, slicing.

In [9]:
tuple1 = ("John", "Matthew", 777, "text", [12.55, "goat"])

tuple1[1]    # -> 'Matthew'
tuple1[-2]   # -> 'text'
tuple1[1:3]  # -> ('Matthew', 777)

('Matthew', 777)

## Forbidden operations on tuples

* No sorting or other operations that modify the elements of the tuple.

In [10]:
tuple2 = (2, 4, 40, 56, 2.45)

tuple2.sort()

AttributeError: 'tuple' object has no attribute 'sort'

## Dictionary

* A container that is an unordered collection of elements consisting of key-value pairs.

<img src="img/dict.png" style="width:250px">

## Properties of a dictionary

* **Unordered** - the elements in the dictionary are not ordered by any index
* **Modifiable** - dictionary elements can be added, deleted and modified.
* **Unique keys** - the keys in the dictionary cannot repeat themselves

## Creation of dictionaries

In [11]:
# two ways to create an empty dict
empty_dict_1 = {}
empty_dict_2 = dict()

# both keys and values can be of different types
dict1 = {'one': 12213, 'two': 3.14, 3: 'text'}

## Retrieving values from dictionaries

* The values in the dictionary are referenced using the key.

In [12]:
dict1 = {'one': 12213, 'two': 3.14, 3: 'text'}

print(dict1['two'])

3.14

In [13]:
# if the dictionary does not contain the specified key an error occurs
print(dict1[12])

KeyError: 12

In [14]:
# a different (more error-tolerant) way of retrieving values from the dictionary
print(dict1.get("two"))
print(dict1.get(12))
print(dict1.get(12, "No value"))

3.14
None
No value

In [15]:
# checking whether the dictionary contains the specified key
print("two" in dict1)
print(12 in dict1)

True
False

In [16]:
# reading all keys, values and key-value pairs from the dictionary
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['one', 'two', 3])
dict_values([12213, 3.14, 'text'])
dict_items([('one', 12213), ('two', 3.14), (3, 'text')])

## Modifying the contents of dictionaries

* You can add and overwrite dictionary elements in the same way.

In [17]:
dict1 = {'one': 12213, 'two': 3.14, 3: 'text'}

# adding new key-value pair
dict1[5] = '555'
print(dict1)

# changing the value for an existing key
dict1['one'] = 1
print(dict1)

{'one': 12213, 'two': 3.14, 3: 'text', 5: '555'}
{'one': 1, 'two': 3.14, 3: 'text', 5: '555'}

## Set

* A container that is an unordered collection of unique elements.

<img src="img/set.png" style="width:250px">

## Properties of a set

* **Disordered** - does not preserve the order in which elements are placed in the set
* **Non-dedifferentiable elements** - we cannot change the value of the elements in the set (but we can remove and add elements to the set)
* **Heterogeneous** - may contain elements of different types
* **Unique elements** - the elements in the set are unique and cannot be duplicated

## Creation of sets and conversions from other composite types

In [18]:
empty_set = set()
print(empty_set)

set_1 = {1, 2, 2, 3, "text"}
print(set_1)

list1 = [2, 5, 6, 6, 7, 2]
set_2 = set(list1)
print(set_2)

set()
{1, 2, 3, 'text'}
{2, 5, 6, 7}

## Modifying the content of sets

In [19]:
set_3 = {1, 2, 3, 4}

# add element of value 5
set_3.add(5)

# remove element of value 1
set_3.remove(1)

print(set_3)

{2, 3, 4, 5}

## Set algebra

* Python sets represent mathematical sets, so this data structure is equipped with methods related to set algebra: sum of sets, product of sets, difference of sets.

In [20]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 12}

s3 = s1.union(s2)
print(s3)

s4 = s1.intersection(s2)
print(s4)

s5 = s1.difference(s2)
print(s5)

{1, 2, 3, 4, 5, 12}
{3, 4}
{1, 2}

In [21]:
# Mathematical operations performed by methods also have symbolic equivalents

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 12}

s3 = s1 | s2
print(s3)

s4 = s1 & s2
print(s4)

s5 = s1 - s2
print(s5)

{1, 2, 3, 4, 5, 12}
{3, 4}
{1, 2}

## Conversion between composite types

In [22]:
l1 = [6, 3, 5, 6, 23, 1, 6]

t1 = tuple(l1)
print(t1)

l2 = list(t1)
print(l2)

s1 = set(l1)
print(s1)

l3 = list(s1)
print(l3)

(6, 3, 5, 6, 23, 1, 6)
[6, 3, 5, 6, 23, 1, 6]
{1, 3, 5, 6, 23}
[1, 3, 5, 6, 23]

## ---- Exercise 1 ----

We have the list `list1 = [1, 3, 5, 6, 3, 5, 6, 1, 7, 6, 1]`. Write a program that, based on list `list1`, creates list `list2` that contains no duplicates. Do not use list to set conversion.

In [ ]:
# Write your code here

## ---- Exercise 2 ----

We have the tuple `tuple1 = (11, 22, 33, 44, 55, 66, 77, 88, 99)`. Write a program that prints the sum of the last `4` and last `8` elements of the tuple.

In [ ]:
# Write your code here

## ---- Exercise 3 ----

Write a program that, in the dictionary `my_dict = {'x':500, 'y':5874, 'z':560, 'q':120}` finds the largest and smallest value.

In [ ]:
# Write your code here

## ---- Exercise 4 ----

Write a programme that, from the set `s1`, removes elements common to the sets `s1` and `s2`.

E.g. if `s1 = {1, 2, 4, 5}` and `s2 = {2, 5, 6, 7}` then after operation `s1 = {1, 4}`

In [ ]:
# Write your code here